@import "../../styles/variables";

.form {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px;
  border-radius: 58px;
  min-width: 400px;
  color: $invert;
  transition: background 0.25s;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0.21%, rgba(255, 255, 255, 0.32) 99.79%);
  backdrop-filter: blur(80px);
}

.input {
  flex: 1;
  position: relative;
  width: 100px;
  height: 48px;
  margin: 0 8px 0 0;
  padding: 0 8px 0 28px;
  border: 0;
  border-radius: 54px;
  background: none;
  outline: none;
  color: inherit;
  font-size: 16px;
  font-family: inherit;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}

.copyIcon {
  width: 12px;
}

.referralLink {
  flex: 1;
  position: relative;
  height: 28px;
  line-height: 28px;
  margin: 0 8px 0 28px;
}

.referralLinkText {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button {
  min-width: 140px;
  align-items: center;
}

.arrowIcon, .copyIcon {
  margin-left: 6px;
}

.arrowIcon {
  width: 16px;
}
