@import "../../styles/variables";
.Button {
  display: inline-flex;
  margin: 0;
  padding: 2px;
  border: 0;
  border-radius: 44px;
  background: linear-gradient(to right, #FFFEFE, #C8D4C3, #6484F5);
  filter: drop-shadow(0px 0px 22px rgba(168, 168, 168, 0.3));
  font-size: inherit;
  user-select: none;

  .inner {
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: 0 2em;
    border-radius: 44px;
    background: linear-gradient(108.58deg, #C8D4C3 0%, #6484F5 119.12%);
    backdrop-filter: blur(80px);
    color: #434343;
    white-space: nowrap;
    cursor: pointer;
  }
}