/*
 font-variant
 Входящие значения [ font-size | line-height | letter-spacing | font-weight ]
 @include font-variant(18, 24, -0.15px, 500);
*/
@mixin font-variant($font-size, $line-height: normal, $letter-spacing: normal, $font-weight: normal) {
  font-size: $font-size * 1px;

  @if $line-height==normal {
    line-height: normal;
  }

  @else {
    line-height: $line-height / $font-size;
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  }

  @else {
    letter-spacing: $letter-spacing;
  }

  @if $font-weight==normal {
    $font-weight: 400;
  }

  @else {
    font-weight: $font-weight;
  }
}

/*
 Пример использования
 Входящие значения [ font-size | line-height | letter-spacing | font-weight ]
 @include font-variant(18, 24, -0.15px, 500);
*/