.wrapper {
  display: inline-flex;
  align-items: center;
  color: #fff;
  line-height: 1;
  letter-spacing: 0.1em;
}

.logo {
  width: 1.2em;
}

.brand {
  width: 3.1em;
  margin-top: 0.05em;

  .logo + & {
    margin-left: 0.24em;
  }
}
