.home {
  position: relative;
  text-align: center;

  @media screen and (max-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .logo {
    font-size: 10vw;
    vertical-align: bottom;

    @media only screen and (max-width: 800px) {
      font-size: 80px;
    }

    @media only screen and (max-width: 480px) {
      font-size: 60px;
    }
  }

  .container {
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 377px;
    > div {
      width: 100%;
    }
  }

  .title {
    margin: 25px 0 38px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
  }

  .text {
    margin: 25px 0 0;
    line-height: 1.34;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1px;
    @media only screen and (max-width: 480px) {
      font-size: 20px;
    }
  }

  .rank {
    white-space: nowrap;
    > span {
      font-weight: 700;
      font-size: 34px;
      padding-left: 10px;

    }
  }

  .form {
    margin-top: 20px;
  }

  .social {
    margin-top: 48px;
  }

  .start {
    max-width: 582px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    background: rgba(30, 30, 30, 0.2);
    border-radius: 10px;
    margin: 40px auto;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 480px) {
      padding: 20px;
      margin: 0 20px;
    }
  }

  .startButton {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 300px;
    gap: 12px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    color: #17171A;
    max-width: 222px;
    margin: 20px 16px;
    box-sizing: border-box;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 500;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.rank {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

.rankCount {
  margin-left: 8px;
  font-size: 34px;
  font-weight: 700;
  vertical-align: middle;
}

.spinner {
  margin-top: 48px;
  font-size: 58px;
  line-height: 1;
}
