.home {
  position: relative;
  text-align: center;

  .logo {
    font-size: 140px;
    vertical-align: bottom;

    @media only screen and (max-width: 800px) {
      font-size: 80px;
    }

    @media only screen and (max-width: 480px) {
      font-size: 60px;
    }
  }

  .container {
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 377px;
  }

  .title {
    line-height: 1.44;
    margin: 28px 0;
    text-transform: uppercase;
    @media only screen and (max-width: 480px) {
      margin-top: 70px;
    }
  }

  .text {
    margin: 28px 0;
    line-height: 1.44;
    font-size: 18px;
  }

  .rank {
    white-space: nowrap;
    > span {
      font-weight: 700;
      font-size: 34px;
      padding-left: 10px;

    }
  }

  .form {
    margin-top: 36px;
  }

  .social {
    margin-top: 48px;
  }
}

.rank {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

.rankCount {
  margin-left: 8px;
  font-size: 34px;
  font-weight: 700;
  vertical-align: middle;
}

.spinner {
  margin-top: 48px;
  font-size: 58px;
  line-height: 1;
}
