@import "./styles/variables";
@import "./fonts/text-styles";

*{
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}

body {
  background: #222125;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(220px);
    background: linear-gradient(45deg, #009FFF, #00ffe8, #009FFF, #8b7cff);
    background-size: 600% 200%;
    padding: 0 30px;
    animation: gradient 24s ease infinite;
    @media (max-width: 767.98px) {
      filter: blur(160px);
    }
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}